tree-item .itemContainer{
    position: relative;
    margin-bottom: 5px;
    padding-left: 5px;
}

tree-item .itemNameContainer{
    padding:2px;
    padding-left:4px;
    position: relative;
    font-size: 14px;
    transition: background-color 0.15s;
}

tree-item[is-folder="true"] > .itemContainer > .itemNameContainer::after{
    
    content:"";
    height:100%;
    width:20px;
/*    background-color:red;*/
    display: block;
    position: absolute;
    top:0;
    right:-15px;
    background-image:url(img/columnArrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

tree-item .folder{
    vertical-align: middle;
    width:17px;
    margin-top:-2px;
}

tree-item .fileIcon{
    vertical-align: middle;
    width:13px;
    margin-top:-2px;    
}

tree-item .arrow{
    vertical-align: middle;
    width:9px;
    margin-right:3px;
    opacity: 0.7;
    transition: all 0.2s;
    margin-top:-1px;
}

tree-item.workingItem > .itemContainer > .itemNameContainer{
     color:#2891FF;
}

tree-item.workingItem.secondary > .itemContainer > .itemNameContainer{
     color:rgba(40,145,255,0.4);
}


tree-item.expanded > .itemContainer > .itemNameContainer .arrow{
    transform:rotate(90deg);
}

tree-item .name{
    vertical-align: middle;
}

tree-item{
    cursor: pointer;
}

tree-item .selected{
/*    background-color:#CAD1D6;*/
/*    background-color:#D8E0E5;*/
    background-color:#E5E5E5;
}

tree-item .itemContainer .children{
    padding-left:20px;
    display: none;
}

tree-item .children:empty::after{
    content: "Empty";
    font-style: italic;
    padding:10px;
    padding-top:18px;
    font-size:14px;
}

tree-item .newName{
    border:1px solid grey;
    background-color:none;
    border-radius: 4px;
/*    padding:2px;*/
    font-size:14px;
    width: 120px;
}

tree-item > .itemContainer > .itemNameContainer .newName{
    display: none;
}

tree-item.editing > .itemContainer > .itemNameContainer .name{
    display: none;
}

tree-item.editing > .itemContainer > .itemNameContainer .newName{
    display: inline-block;
}

tree-item{
    user-select:none;
    -webkit-user-select:none;
}