/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

#background{
    background-image:url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 0;
    
    -webkit-filter:blur(5px);
    filter:blur(5px);
}

#logo{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    margin-top:30%;
}

#loginButton{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    margin-top:5%;
}

section{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
}



#map {
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#beacon{
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 99;
    width:100%;
    padding:15px;
    background-color:rgba(255,255,255,1);
}

#beaconHeader{
    font-size: 40px;
}

#beacon .signal{
    vertical-align: middle;
    font-size:14px;
}

#beacon .signal::before{
    content:"";
    width:10px;
    height: 10px;
    vertical-align: middle;
    border-radius:20px;
    background-color:black;
    display: inline-block;
    margin-top:-3px;
    margin-right:5px;
}

#beacon .signal.water::before{
    background-color:#00AEEF;
}

#beacon .signal.food::before{
    background-color:#2BB673;
}

#beacon .signal.clothing::before{
    background-color:#C49A6C;
}

.signalSince{
    color:grey;
    font-size:12px;
}

#markDone{
    position: absolute;
    bottom: 15px;
    right:0px;
    padding:10px;
    background-color:#27C244;
    border:1px solid #20A138;
    border-radius: 7px;
    color:white;
}

#profileButton{
    position: absolute;
    left:0;
    bottom:30px;
    background-color:rgba(0,0,0,0.5);
    padding:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size:30px;
    color:white;
    padding-left:7px;
}

#darkOverlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:9999;
    background-color:rgba(0,0,0,0.6);
}

#profileInfo{
    position: absolute;
    width:80%;
    left:10%;
    top:-30%;
    z-index: 99999;
    background-color:white;
    border-radius: 15px;
    padding:20px;
}

#profileInfo .name{
    font-size:18px;
}

#profileInfo .deliveries{
    margin-top:7px;
    color:grey;
}

#profileInfo .deliveries::before{
    content:"Deliveries: ";
    font-weight: 500;
    color:grey;
}
